{% extends "base.html" %}

{% block main %}
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-6">
          <img class="card-img-top" data-src="holder.js/100px200?auto" style="width: 100%;" alt="Card image cap">
        </div>
        <div class="col-sm-6">
            <h1>Title</h1>
            <h2>Price</h2>
            <hr />
            <p>Consectetur rerum quis unde. Aliquid facere impedit illum optio. Est et maiores blanditiis laboriosam harum. Asperiores atque illo magni pariatur.
Placeat fugit quia sit quam vel qui magni. Similique minima eveniet sunt omnis. Voluptate maiores est et nobis. Repellendus nam eligendi consequuntur aut ullam nulla tempora. Similique sint odit consequatur aut consequatur. Ab non laudantium dolorum impedit.</p>
            <hr />
            <a href="/user/shipping-address/" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
</div>
{% endblock %}